/*===== GOOGLE FONTS =====*/
    
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*==== Fontes e Tipografia =====*/

:root{
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
}

/*==== Base ====*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body{
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.carrosel{
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50%;
    height: 100%;
}
