/*=== Fonte ===*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*==== Base ====*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*=== Barra de navegação ===*/

#navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    position: static;
}

#navbar .navbar-container {
    display: flex;
    width: 85%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

#navbar .navbar-container .logo {
    height: 40px;
}

#navbar .navbar-container .navbar-itens {
    display: flex;
}

#navbar .navbar-container .navbar-itens .navbar-iten {
    padding: 0 25px;
    margin-top: 1%;
    font-weight: 700;
}

#navbar .navbar-container .navbar-itens .navbar-iten:nth-child(3) {
    border-right: 1px solid white;
}

/*=== Main/Conteúdo ===*/

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1db954;
    background: url('/statics/img/young-man-and-woman-listening-to-music-in-headphones.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container .showcase-container-title{
    display: flex;     
    width: 74%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase .showcase-container .showcase-title {
    font-size: 7.5rem;
    font-weight: 900;
}

#showcase .showcase-container .showcase-subtitle {
    font-weight: bold;
    margin: 15px;
}

#showcase .showcase-container .btn {
    font-size: 14px;
    font-weight: bold;
    padding: 14px 34px;
    border: none;
    border-radius: 500px;
    color: white;
    text-transform: uppercase;
    background: #1ed760;
    margin-top: 35px;
}