/*=== Fonte ===*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*==== Base ====*/

:root {
    --green-padrao: #1db954;
    --green-hover: #1ed760;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 40px;
    width: auto;
}

/*=== Barra de navegação ===*/

#navbar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 58px;
}

#navbar .navbar-container {
    display: flex;
    width: 85%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container .navbar-itens {
    display: flex;
}

#navbar .navbar-container .navbar-itens .navbar-item {
    padding: 0 25px;
    margin-top: 1%;
    font-weight: 700;
    transition: all 250ms ease;
}

#navbar .navbar-container .navbar-itens .navbar-item:hover {
    color: var(--green-padrao);
    cursor: pointer;
}

#navbar .navbar-container .navbar-itens .navbar-item:nth-child(3) {
    border-right: 1px solid white;
}

/*=== Main/Conteúdo ===*/

#contents {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-padrao);
    background: url('/statics/img/young-man-and-woman-listening-to-music-in-headphones.jpg') top center/cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
}

#contents .contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents .contents-container .contents-title{
    font-size: 7.5rem;
}

#contents .contents-container .contents-subtitle {
    font-weight: bold;
    margin: 15px;
}

#contents .contents-container .btn {
    font-size: 14px;
    font-weight: bold;
    padding: 14px 34px;
    border: none;
    border-radius: 500px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    background: var(--green-hover);
    margin-top: 35px;
    transition: all 250ms ease;
}

#contents .contents-container .btn:hover {
    transform:scale(1.1);
    cursor: pointer;
}

/*=== Footer ===*/

#footer {
    background: black;
    color: white;

}

#footer .footer-container {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 95px 0;
    justify-content: space-between;
    padding-left: 50px;
}

#footer .footer-container .footer-itens {
    margin: 0 40px;
}

#footer .footer-container .footer-itens .footer-item {
    margin: 20px 0;
    transition: all 250ms ease;
}

#footer .footer-container .footer-itens .footer-item:hover {
    color: var(--green-padrao);
    cursor: pointer;
}

#footer .footer-container .footer-itens .titulo {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #919496;
}

.contatos{
    display: flex;
    margin: 0 50px;
}

.contatos .icons {
    margin: 0 20px;
    font-size: 2rem;
    transition: all 250ms ease;
}

.contatos .icons:hover {
    color: var(--green-padrao);
    cursor: pointer;
}

.infos-container {
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin: auto;
    padding: 25px 0;
    padding-left: 43px;
    padding-right: 70px;
}

.infos-container .infos-itens {
    display: flex;
}

.infos-container .infos-itens .infos-item {
    margin: 0 10px;
    color: #919496;
    font-size: 0.75rem;
    transition: all 250ms ease;
}

.infos-container .infos-itens .infos-item:hover {
    color: var(--green-padrao);
    cursor: pointer;
}

.infos-container .direitos {
    font-size: 15px;
    color: #919496;
}

.infos-container .direitos .localidade {
    display: flex;
    font-size: 15px;
    color: #919496;
    justify-content: flex-end;
}

.infos-container .direitos .localidade .pais{
    transition: all 300ms ease;
}

.infos-container .direitos .localidade .pais:hover {
    color: var(--green-padrao);
    cursor: pointer;
}

.infos-container .direitos .localidade .mundo {
    margin-right: 8px;
}